Source: eta-keyboard
Section: utils
Priority: optional
Maintainer: Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Build-Depends: debhelper (>= 9), 
    libc6,
    libgcc1,
    libgl1-mesa-glx | libgl1,
    libqt5core5a,
    libqt5dbus5,
    libqt5gui5,
    libqt5network5,
    libqt5qml5,
    libqt5quick5,
    libqt5svg5-dev,
    libqt5widgets5,
    libqt5x11extras5-dev,
    libstdc++6,
    libx11-6,
    libx11-xcb-dev,
    libxcb-xkb-dev,
    libxcb1-dev,
    libxkbcommon-x11-0,
    libxkbcommon-x11-dev,
    libxkbcommon0,
    libxkbcommon-dev,
    libxkbfile-dev,
    libxtst-dev,
    qtdeclarative5-dev
Standards-Version: 3.9.6
Homepage: http://pardus.org.tr

Package: eta-keyboard
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
 libqt5svg5,
 qdbus-qt5,
 qml-module-qtquick-controls,
 qml-module-qtquick-window2,
 qml-module-qtquick2
Description: ETAP Sanal Klavye
 Sürüklenebilir, rahat kullanımlı , TrQ , TrF , Arapça desteği vardır.
